 .product-wrapper{
    width: 300px;
    height: 500px;
    background: white;
    margin: 0;
    position: inherit;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    flex-wrap: unset;
    float: inline-start;
    &:hover{
      transform: scale(1);
      box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    }
    
    .product-container{
      width:100%;
      height:100%;
      .product-top{
        height: 80%;
        width:100%;
        background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
      }
      .product-bottom{
        width: 200%;
        height: 20%;
        transition: transform 0.5s;
        &.clicked{
          transform: translateX(-50%);
        }
        .product-left{
          height:100%;
          width: 50%;
          background: #f4f4f4;
          position:relative;
          float:left;
          .product-details{
            padding: 20px;
            float: left;
            width: calc(70% - 40px);
          }
          .product-buy{
            float:right;
            width: calc(30% - 2px);
            height:100%;
            background: #f1f1f1;
            transition: background 0.5s;
            border-left:solid thin rgba(0,0,0,0.1);
            i{
              font-size:30px;
              padding:30px;
              color: #254053;
              transition: transform 0.5s;
            }
            &:hover{
              background: #A6CDDE;
            }
            &:hover i{
              transform: translateY(5px);
              color:#00394B;
            }
          }
        }
        .product-right{
          width: 50%;
          background: #A6CDDE;
          color: white;
          float:right;
          height:200%;
          overflow: hidden;
          .product-details{
            padding: 20px;
            float: right;
            width: calc(70% - 40px);
          }
          .product-done{
            width: calc(30% - 2px);
            float:left;
            transition: transform 0.5s;
            border-right:solid thin rgba(255,255,255,0.3);
            height:50%;
            i{
              font-size:30px;
              padding:30px;
              color: white;
            }
          }
          .product-remove{
            width: calc(30% - 1px);
            clear: both;
            border-right:solid thin rgba(255,255,255,0.3);
            height:50%;
            background: #BC3B59;
            transition: transform 0.5s, background 0.5s;
            &:hover{
              background: #9B2847;
            }
            &:hover i{
              transform: translateY(5px);
            }
            i{
              transition: transform 0.5s;
              font-size:30px;
              padding:30px;
              color: white;
            }
          }
          &:hover{
            .product-remove, .product-done{
              transform: translateY(-100%);
            }
          }
        }
      }
    }
    
    .product-inside{
      z-index:9;
      background: #92879B;
      width:140px;
      height:140px;
      position: absolute;
      top: -70px;
      right: -70px;
      border-radius: 0px 0px 200px 200px;
      transition: all 0.5s, border-radius 2s, top 1s;
      overflow: hidden;
      .product-icon{
        position:absolute;
        right:85px;
        top:85px;
        color:white;
        opacity: 1;
      }
      &:hover{
        width:100%;
        right:0;
        top:0;
        border-radius: 0;
        height:80%;
        .product-icon{
          opacity: 0;
          right:15px;
          top:15px;
        }
        .product-contents{
          opacity: 1;
          transform: scale(1);
          transform: translateY(0);
        }
      }
      .product-contents{
        padding: 5%;
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(-200%);
        transition: opacity 0.2s, transform 0.8s;
      }
    }
  }